.characteristic {
  margin-bottom: 120px;
  &_list {
    gap: 20px;
    text-align: center;
    gap: 24px;

    @include min-tablet {
      text-align: unset;
      padding-left: 32px;
    }
    
    &_item {
      margin-bottom: 24px;
    }
  }
}
