:root {
  --gap-x: 24px;
  --padding-container: 120px;

  --white: #ffffff;
  --black: #181818;
  --blue-1: #093245;
  --blue-2: #264997;
  --blue-3: #2b8ac9;
  --gradient-1-from: #2a81c3;
  --gradient-1-to: #27529e;
  --gradient-2-from: #ffffff;
  --gradient-2-to: #d0d0d0;

  --neutral-black-1: #171717;
  --neutral-black-2: #262626;
  --neutral-grey-1: #404040;
  --neutral-grey-2: #525252;
  --neutral-grey-3: #737373;
  --neutral-grey-4: #a3a3a3;
  --neutral-grey-5: #d4d4d4;
  --neutral-grey-6: #e5e5e5;
  --neutral-grey-7: #f5f5f5;
  --neutral-grey-8: #fafafa;

  --darkmode-darkBlue-1: #0d101a;
  --darkmode-darkBlue-2: #111520;
  --darkmode-darkBlue-3: #151a26;
  --darkmode-darkBlue-4: #2b3141;
  --darkmode-blue-1: #0f172a;
  --darkmode-blue-2: #1e293b;
  --darkmode-blue-3: #334155;
  --darkmode-blue-4: #475569;
  --darkmode-blue-5: #64748b;
  --darkmode-blue-6: #94a3bb;
  --darkmode-blue-7: #cbd5e1;
  --darkmode-blue-8: #e2e8f0;
  --darkmode-blue-9: #f1f5f9;
  --darkmode-blue-10: #f8fafc;

  --green-1: #16a34a;
  --green-2: #22c55e;
  --green-3: #bbf7d0;
  --green-4: #dcfce7;

  --red-1: #b91c1c;
  --red-2: #dc2626;
  --red-3: #fecaca;
  --red-4: #fee2e2;

  --yellow-1: #fbbf24;
  --yellow-2: #fcd34d;
  --yellow-3: #fde68a;
  --yellow-4: #fef3c7;

  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
}
