@use "sass:map";
@import "tool";

$d0: (
  fw: 500,
  fs: 300,
  lh: 64,
  ls: 0,
);

$d1: (
  fw: 500,
  fs: 200,
  lh: 200,
  ls: -1,
);

$d2: (
  fw: 400,
  fs: 145,
  lh: 159.5,
  ls: -1,
);

$d3: (
  fw: 500,
  fs: 120,
  lh: 120,
  ls: -1,
);

$d4: (
  fw: 500,
  fs: 100,
  lh: 100,
  ls: -1,
);

$d5: (
  fw: 500,
  fs: 90,
  lh: 90,
  ls: -1,
);

$d5_sub: (
  fw: 500,
  fs: 90,
  lh: 108,
  ls: -1,
);

$d6: (
  fw: 500,
  fs: 60,
  lh: 60,
  ls: -1,
);

$h1: (
  fw: 500,
  fs: 54,
  lh: 97.2,
  ls: -1,
);

$h2: (
  fw: 500,
  fs: 52,
  lh: 64.4,
  ls: -1,
);

$h2_sub: (
  fw: 500,
  fs: 52,
  lh: 62.4,
  ls: -1,
);

$h3: (
  fw: 500,
  fs: 48,
  lh: 48,
  ls: -1,
);

$h3_sub: (
  fw: 400,
  fs: 48,
  lh: 52.8,
  ls: -1,
);

$h4: (
  fw: 400,
  fs: 42,
  lh: 46.2,
  ls: -1,
);

$h5: (
  fw: 400,
  fs: 36,
  lh: 39.6,
  ls: -1,
);

$h6: (
  fw: 400,
  fs: 34,
  lh: 34,
  ls: -1,
);

$title_default: (
  fw: 500,
  fs: 32,
  lh: 41.6,
  ls: -1,
);

$title: (
  fw: 500,
  fs: 32,
  lh: 32,
  ls: -1,
);

$title_sub: (
  fw: 400,
  fs: 32,
  lh: 35.2,
  ls: 0,
);

$subtitle1: (
  fw: 500,
  fs: 28,
  lh: 33.6,
  ls: -1,
);

$subtitle2: (
  fw: 500,
  fs: 25,
  lh: 25,
  ls: -1,
);

$subtitle3: (
  fw: 500,
  fs: 24,
  lh: 31.2,
  ls: -1,
);

$subtitle3_sub: (
  fw: 500,
  fs: 24,
  lh: 24,
  ls: -1,
);

$label: (
  fw: 500,
  fs: 18,
  lh: 32.4,
  ls: -1,
);

$label_sub: (
  fw: 500,
  fs: 18,
  lh: 18,
  ls: -1,
);

$body1: (
  fw: 500,
  fs: 16,
  lh: 20.8,
  ls: 0,
);

$body_default: (
  fw: 400,
  fs: 18,
  lh: 28.8,
  ls: 0,
);

$body1_sub: (
  fw: 400,
  fs: 16,
  lh: 20.8,
  ls: 0,
);

$body2: (
  fw: 400,
  fs: 16,
  lh: 20,
  ls: 0,
);

$body3: (
  fw: 400,
  fs: 16,
  lh: 18,
  ls: 0,
);

$body4: (
  fw: 400,
  fs: 16,
  lh: 16,
  ls: -1,
);

$body4_sub: (
  fw: 500,
  fs: 16,
  lh: 16,
  ls: -1,
);

$caption: (
  fw: 500,
  fs: 14,
  lh: 25.2,
  ls: -1,
);

$caption_sub: (
  fw: 500,
  fs: 14,
  lh: 18.2,
  ls: 0,
);
