$white: #ffffff;
$black: #000000;
$orange: #ff6b02;
$light-green: #bbc703;
$light-green-2: #a6bea8;
$green: #004e32;
$dark-grey: #090909;
$dark-grey-2: #131716;
$light-grey: #e8e8e8;

$typography-colors: (
  white: $white,
  black: $black,
  orange: $orange,
  lightGreen: $light-green,
  lightGreen2: $light-green-2,
  lightGrey: $light-grey,
  darkGrey2: #131716,
);
