.hero {
  padding-top: 80px;
}

.slide {
  &_img {
    padding: 12px;
    overflow: hidden;
    border: 1px solid #ffffff49;
    background: #ffffff26;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;

    &_inner {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }

    img {
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
